modules = ["php-8.4"] # nodejs-24 raus, wenn du es nicht für PHP brauchst

[deployment]
router = "application"
deploymentTarget = "autoscale"
# Port auf 8000 ändern, weil 8080 besetzt ist
run = ["sh", "-c", "php -S 0.0.0.0:8000 index.php"]

# [deployment.postBuild] komplett ENTFERNT

[[ports]]
localPort = 8000
externalPort = 80
